<%= title_page 'Lista de Etapas' %>

<%= add_resource 'Nova Etapa', new_admin_step_list_path %>

<table class='table-page'>
  <thead>
    <tr>
      <th>Etapas</th>
      <th>Criado em</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <%= display_list_for(@step_lists, fields: 3) %>
  </tbody>
</table>

<%= will_paginate @step_lists %>
