#first_step {
	&.company-step {
		.box-with-error {
			padding: 3vh 0 0;

			select {
				margin-bottom: 2vh !important;
			}

			.box-with-error {
				padding-top: 0;
			}

			&.candidate-company-date {
				.error-message {
					position: initial;
				}
			}
		}

		.two-items,
		.three-items {
			display: flex;
			justify-content: space-between;

			.half {
				width: 49%;
				float: left;
			}

			.one-third {
				width: 32%;
				float: left;

				select {
					background-size: 6.5%;
				}
			}
		}
	}
}

#second_step {
	&.question-container {
		.content-box {
			.candidate-companies-form {
				&.collection.with-input {
					.candidate-company-item {
						display: flex;
						justify-content: space-between;	
						align-items: center;

						.responsive-container {
							width: 70%;
							float: left;
							display: flex;
						}		
					}

					label {
						margin-bottom: .5vh;
					}

					.candidate-company-date {
						width: 100%;
						margin-left: 2%;

						.two-items {
							display: flex;
							justify-content: space-between;

							select {
								padding-left: 0.5vw;
							}
						}
					}

					.candidate-company-name {
						width: 100%;
					}

					select {
						margin-bottom: 2vh !important;
					}
				}
			}
		}
	}
}