#second_step {
	&.question-container {
		.content-box {
			.candidate-companies-form {
				&.collection.with-input {
					.candidate-company-item {
						display: flex;
						justify-content: space-between;	
						align-items: center;					
					}

					label {
						margin-bottom: .5vh;
					}

					.candidate-company-date {
						width: 35%;
						margin-left: 2%;
					}

					.candidate-company-name {
						width: 100%;
					}

					select {
						margin-bottom: 2vh !important;
					}
				}
			}
		}
	}
}