#second_step {
  &.education-step {
    .language-form {
      .language-item {
        border-bottom: 1px solid #e0e0e0;
        
        .collection-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
        }

        select {
          float: left;
          width: 65%;
          margin-bottom: 2vh !important;
        }
        
        .language-level-box {
          width: 65%;
          float: left;

          p {
            width: 100%;
            float: left;
            margin-bottom: 3vh;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}