#second_step {
  &.education-step {
    .language-form {
      .language-item {
        border-bottom: 1px solid #e0e0e0;
        
        .collection-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;

          .error-message {
            bottom: -.6vh;
          }
        }

        .box-with-error {
          width: 65%;
          position: relative
        }

        select {
          float: left;
          width: 100%;
          margin-bottom: 2vh !important;
        }
        
        .validate-radio-box {
          width: 65%;
          float: left;
          position: relative;
          margin-top: 3vh;

          p {
            width: 100%;
            float: left;
            margin-bottom: 3vh;

            &:last-of-type {
              margin-bottom: 0;
            }
          }

          .radio-error-message {
            bottom: 0;
          }
        }
      }
    }
  }
}