#second_step,
#fifth_step {
  .select-box-with-error {
    width: 30%;

    select {
      &.custom {
        width: 100%;
        background-size: 4%;
      }
    }
  }

  p.error-message.limit{
    position: relative;
    text-align: center;
    margin-bottom: 0px !important;
  }

  &.experience-step {
    .collection {
      .collection-item {
        padding: 4vh 1.6vw !important;

        .experience-box-item {
          width: 80%;
          display: flex;
          align-items: center;

          .select-box-with-error {
            width: 100%;
          }

          .separator-responsive-label {
            text-align: center;
          }
        }
      }

      .error-message {
        margin-top: .5vh;
      }

      .experience-calc-result {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        p {
          margin-bottom: 2vh;
        }

        input {
          width: 30%;
          text-align: center;
          padding-left: 0;
          color: #000 !important;
          font-weight: bold;
        }

        #candidate_experience_total_functions_percentage {
          width: 100%;
        }
      }
    }
  }
}

#fourth_step,
#seventh_step {
  &.experience-step {
    .collection {
      .collection-item {
        .static-label {
          font-size: 1.1vw;
        }

        &.list-function-area {
          label {
            font-weight: 400;
          }
        }
      }
    }
  }
}
