/* INTEREST LOCALE STEP */
#first_step {
  .collection {
    .collection-item {
      label {
        span {
          text-transform: uppercase;
        }
      }
    }
  }
}

/* CONTAINER WITH DROP DOWN */
.interest-locale-item-block {
  border-bottom: 1px solid #e0e0e0;
  
  .city-list-item {
    .city-name {
      font-size: 1.1vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      i {
        font-size: 2rem;

        &.rotated {
          transform:rotate(90deg); 
          -webkit-transform:rotate(90deg); 
          -moz-transform:rotate(90deg); 
          -o-transform:rotate(90deg); 
        }
      }
    }
  }

  .list-city-locale {
    span {
      font-weight: 400;
    }
    
    .city-locale-item {
      .city-locale-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        i {
          font-size: 2rem;

          &.rotated {
            transform:rotate(90deg);
            -webkit-transform:rotate(90deg);
            -moz-transform:rotate(90deg);
            -o-transform:rotate(90deg);
          }
        }
      }
    }

    .list-neighborhood {
      &.hidden {
        display: none;
      }
    }

    .city-locale-item-block {
      &:first-of-type {
        .city-locale-item {
          .city-locale-name {
            i {
              transform:rotate(90deg); 
              -webkit-transform:rotate(90deg); 
              -moz-transform:rotate(90deg); 
              -o-transform:rotate(90deg); 

              &.rotated {
                transform:rotate(0deg); 
                -webkit-transform:rotate(0deg); 
                -moz-transform:rotate(0deg); 
                -o-transform:rotate(0deg); 
              }
            }
          }
        }

        .list-neighborhood {
          &.hidden {
            display: block;
          }
        }
      }
    }
  }
}