#first_step,
#third_step {
  &.pretension-step {
    .collection {
      .pretension-container {
        display: flex;
        justify-content: space-between;

        .pretension-calc-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .collection-item {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .half-label {
            text-align: center;
            margin-bottom: 1vh;
          }

          input {
            margin-bottom: 0;
            width: 50%;
            color: #000 !important;
            text-align: center;
            padding-left: 0;
            font-weight: bold;
          }
        }
      }

      .pretension-calc-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .half-label {
          width: 40%;
          margin-bottom: 0;
        }

        .half-input {
          width: 50%;
          margin-bottom: 0;
        }

        input {
          &.black {
            color: #000 !important;
            background-color: transparent !important;
            font-weight: bold;
          }
        }
      }

      .pretension-calc-result {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        p {
          margin-bottom: 2vh;
        }

        input {
          width: 30%;
          text-align: center;
          padding-left: 0;
          color: #000 !important;
          font-weight: bold;
        }
      }
    }
  }
}

#third_step {
  &.pretension-step {
    .collection {
      .fixed-minimum-pretension {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 4vh !important;
        border: none;

        p {
          text-align: center;
          line-height: 3.5vh;
          margin: 0 13vw;
        }

        .collection-item {
          border: none;
          padding: 4vh 0 2vh 0 !important;

          p {
            margin: 0;
          }
        }
      }
    }
  }
}