<%= title_page 'Portes' %>

<section class="fields-wrapper two-columns margin-top">
  <article>
    <p>
      <strong>Nome:</strong> <%= @company_size.name %>
    </p>

    <p>
      <strong>Descrição:</strong> <%= @company_size.description %>
    </p>

    <p>
      <strong>Pontuação:</strong> <%= @company_size.score %>
    </p>
  </article>
</section>