<%= title_page 'Setores' %>

<section class="fields-wrapper two-columns margin-top">
  <article>
    <p>
      <strong>Nome:</strong> <%= @sector.name %>
    </p>

    <p>
      <strong>Descrição:</strong> <%= @sector.description %>
    </p>
  </article>
</section>