<%= title_page 'Momentos da Empresa' %>

<%= add_resource 'Novo Momento da Empresa', new_admin_mode_path %>

<table class='table-page'>
  <thead>
    <tr>
      <th>Código</th>
      <th>Mode</th>
      <th>Descrição</th>
      <th>Pontuação</th>
      <th>Criado em</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <%= display_list_for(@modes, fields: 3) %>
  </tbody>
</table>

<%= will_paginate @modes %>
