<%= title_page 'Modes' %>

<section class="fields-wrapper two-columns margin-top">
  <article>
    <p>
      <strong>Nome:</strong> <%= @mode.name %>
    </p>

    <p>
      <strong>Descrição:</strong> <%= @mode.description %>
    </p>

    <p>
      <strong>Ponruação:</strong> <%= @mode.score %>
    </p>
  </article>
</section>