#complete_register {
  .content-box {
    @include span-columns (12 of 12);
    padding-top: 6vh;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .left-box, 
      .right-box {
        width: auto;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .left-box {
        margin-right: 2vw;
      }

      .input,
      select {
        width: 32.2vw;

        &.field_with_errors {
          margin-bottom: 3vh;

          input {
            border-color: $error;
            margin-bottom: 0;
          }

          select {
            border-color: $error;
            margin-bottom: 0 !important;
          }

          .error {
            color: $error;
            margin-top: 0;
            padding-left: 1vw;
          }
        }
      }

      .checkbox-box {
        @include span-columns (4 of 4);
      }

      .action-buttons-single {
        padding-top: 5vh;
      }
    }
  }
}