#complete_register {
  .content-box {
    @include span-columns (12 of 12);
    padding-top: 6vh;

    form {
      @include span-columns (6 of 12);
      @include shift (3 of 12);

      div {
        &.field_with_errors {
          margin-bottom: 3vh;

          input {
            border-color: $error;
            margin-bottom: 0;
          }

          .error {
            color: $error;
            padding-left: 1vw;
          }
        }
      }

      .checkbox-box {
        span {
          font-size: 1vw;
        }
      }

      .complete-register-actions {
        padding-top: 8vh;

        &.action-buttons-single {
          a {
            @include span-columns (4 of 6);
            @include shift (1 of 6);
          }
        }
      }
    }
  }

}