#login_or_register {
  .content-box {
    @include span-columns (6 of 6);
    padding-top: 6vh;

    form {
      @include span-columns (4 of 6);
      @include shift (1 of 6);
    }

    a {
      @include span-columns (4 of 6);
      @include shift (1 of 6);
      padding-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: underline;
    }
  }
}