#quick_details {
  .content-box {
    @include span-columns (6 of 6);
    padding-top: 6vh;

    .how-to-summary {
      @include span-columns (4 of 6);
      @include shift (1 of 6);
      padding-bottom: 3vh;

      h5 {
        margin-bottom: 6vh;
      }

      ul {
        @include span-columns (4 of 4);
        margin-left: 5%;

        li {
          font-size: 1.15rem;
          margin-bottom: 3vh;
          list-style: decimal;
          list-style-position: inside;

          &:last-of-type {
            margin-bottom: 0;
          }

          span {
            margin-left: 10%;
          }
        }
      }
    }

    .quick-details-info {
      @include span-columns (6 of 6);

      h4 {
        @include span-columns (6 of 6);
        padding: 4vh 0;
        margin: 0;
        text-align: left;
        border-bottom: none;
      }

      .list {
        @include span-columns (6 of 6);

        .list-item {
          border-top: solid 1px $medium-gray;
          display: flex;
          align-items: center;
          padding: 4vh 0;

          &:last-of-type {
            border-bottom: solid 1px $medium-gray;
          }

          .icon-box {
            @include span-columns (2 of 6);
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            width: 70px;
            height: 70px;

            i {
              font-size: 1.9vw;
            }
          }

          p {
            @include span-columns (6 of 6);
            margin-bottom: 0;
            font-size: 1.64rem;
          }
        }

        .first {
          .icon {
            background-color: #E8E7FF;

            i {
              color: #8186FF;
            }
          }
        }

        .second {
          .icon {
            background-color: #DAF7E8;

            i {
              color: #4AD991;
            }
          }
        }

        .third {
          .icon {
            background-color: #F0F0F7;

            i {
              color: #B4B4C6;
            }
          }
        }

        .fourth {
          .icon {
            background-color: #FFF4E5;

            i {
              color: #FFCA83;
            }
          }
        }

        .fifth {
          .icon {
            background-color: #FFE2E6;

            i {
              color: #FF7285;
            }
          }
        }
      }
    }
  }

  .quick-details-actions {
    padding-top: 8vh;
  }
}