#quick_details {
  .content-box {
    @include span-columns (6 of 6);
    padding-top: 6vh;

    .default-summary-list {
      @include span-columns (6 of 6);
      @include shift (0 of 6);
      padding-bottom: 3vh;

      h5 {
        margin-bottom: 6vh;
      }

      ul {
        @include span-columns (4 of 4);

        li {
          font-size: .9vw;
          margin-bottom: 3vh;
          list-style: decimal;
          list-style-position: inside;

          &:last-of-type {
            margin-bottom: 0;
          }

          span {
            margin-left: 2%;
          }
        }
      }

      &.why-wingle {
        padding-bottom: 6vh;
        border-bottom: solid 1px $gray;
        -webkit-box-shadow: inset 0px -5px 0px -4px $medium-gray;
        -moz-box-shadow: inset 0px -5px 0px -4px $medium-gray;
        box-shadow: inset 0px -5px 0px -4px $medium-gray;

        ul {
          li {
            list-style: disc;
            list-style-position: inside;
          }
        }
      }

      &.how-to-summary {
        h5 {
          margin-top: 6vh;
        }
      }
    }
  }

  .free-advise {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 8vh;
  }

  .quick-details-actions {
    padding-top: 2vh;
  }
}