.separator-form {
  width: 100%;
  height: 12px;
  border-bottom: solid 1px #dbdbdb;
  text-align: center;
  margin: 0 0 25px;

  .text-center {
    font-size: 15px;
    background-color: #fff;
    padding: 0 10px;
  }
}