#welcome_message {
  .content-box {
    @include span-columns (6 of 12);
    @include shift (3 of 12);
    border: solid 1px $medium-gray;
    border-radius: 30px;
    box-shadow: 0 0 1em $medium-gray;
    margin-top: 4vh;
    padding: 5vh 2vw 12vh 2vw;

    h2 {
      margin-bottom: 4vh; 
    }

    p {
      font-size: 2.3rem;
    }
  }

  .welcome-message-actions {
    padding-top: 8vh;
  }
}