<%= title_page 'Lista de Escolaridades' %>

<section class="fields-wrapper two-columns margin-top">
  <article>
    <p>
      <strong>Nome:</strong> <%= @education_list.name %>
    </p>
  </article>
</section>