<tr>
  <td><%= benefits_list.name %></td>
  <td><%= l benefits_list.created_at, format: :short %></td>
  <td>
    <%= edit_resource edit_admin_benefits_list_path(benefits_list) %>
    <%= remove_resource admin_benefits_list_path(benefits_list), {}%>
  </td>
</tr>
