<section id="home" class="content">
  <section class="content-box">
    <article class="complete-profile-advice border-bottom">
      COMPLETE SEU PERFIL<br>
      PARA AVALIAR DESAFIOS<br>
      NAS EMPRESAS DO SEU INTERESSE
    </article>

    <article class="sector-infos border-bottom">
      <div class="section-header">
        <i class="material-icons">domain</i>
        <h2>Setor</h2>
      </div>

      <div class="section-content">
        <p>
          ENERGIA E RECURSOS NATURAIS<br>
          ÓLEO E GÁS | ENERGIAS RENOVÁVEIS 
        </p>

        <p>
          ENERGIA E RECURSOS NATURAIS<br>
          ÓLEO E GÁS | ENERGIAS RENOVÁVEIS 
        </p>

        <p>
          ENERGIA E RECURSOS NATURAIS<br>
          ÓLEO E GÁS | ENERGIAS RENOVÁVEIS 
        </p>

        <p>
          ENERGIA E RECURSOS NATURAIS<br>
          ÓLEO E GÁS | ENERGIAS RENOVÁVEIS 
        </p>

        <p>
          ENERGIA E RECURSOS NATURAIS<br>
          ÓLEO E GÁS | ENERGIAS RENOVÁVEIS 
        </p>
      </div>
    </article>

    <article class="company-size-infos border-bottom">
      <div class="section-header">
        <i class="material-icons">domain</i>
        <h2>Porte</h2>
      </div>

      <div class="section-content">
        <p>
          INÍCIO DE OPERAÇÃO: MAIOR AUTONOMIA,
          RELEVÂNCIA, DINAMISMO.
        </p>
      </div>
    </article>

    <article class="mode-infos border-bottom">
      <div class="section-header">
        <%= image_tag 'icons/targeting.svg' %>
        <h2>Estilo</h2>
      </div>

      <div class="section-content">
        <p>
          AGRESSIVA: FOCO NO CURTO PRAZO, 
          NÚMEROS E PERFORMANCE.
        </p>
      </div>
    </article>

    <article class="interest-locale-info">
      <div class="section-header">
        <%= image_tag 'icons/targeting.svg' %>
        <h2>Localização</h2>
      </div>

      <div class="section-content">
        <p>
          ITAIM, JARDIM PAULISTA E REGIÃO
        </p>

        <p>
          ITAIM, JARDIM PAULISTA E REGIÃO
        </p>

        <p>
          ITAIM, JARDIM PAULISTA E REGIÃO
        </p>

        <p>
          ITAIM, JARDIM PAULISTA E REGIÃO
        </p>
      </div>
    </article>
  </section>
</section>