// MOBILE SCREEN //
@include media ($mobile) {
	#first_step {
		&.company-step {
			.box-with-error {
				padding: 3vh 0 0;

				select {
					margin-bottom: 2vh !important;
				}
			}

			.two-items,
			.three-items {
				flex-direction: column;

				.half {
					width: 100%;
				}

				.one-third {
					width: 100%;

					select {
						background-size: 2.5%;
					}
				}
			}
		}
	}

	#second_step {
		&.question-container {
			.content-box {
				.candidate-companies-form {
					&.collection.with-input {
						.candidate-company-item {
							flex-direction: column;

							.responsive-container {
								width: 100%;

								.candidate-company-date {
									&:first-of-type {
										margin-left: 0;
									}
								}
							}
						}

						label {
							font-size: 3.5vw;
						}

						select {
							margin-bottom: 2vh !important;
						}
					}
				}
			}
		}
	}
}