// MOBILE SCREEN //
@include media ($mobile) {
  #second_step {
    &.education-step {
      .language-form {
        .language-item {
          border-bottom: 1px solid #e0e0e0;
          
          .collection-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          select {
            float: left;
          }
          
          .language-level-box {
            width: 60%;
            float: left;

            p {
              width: 100%;
              float: left;
              margin-bottom: 3vh;

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}