// MOBILE SCREEN //
@include media ($mobile) {
  #second_step,
  #fifth_step {
    .collection-item {
      display: block;
      float: left;
      width: 100%;

      p {
        &:first-of-type {
          width: 100%;
          margin-bottom: 1vh;
        }

        label {
          font-size: 3.5vw !important;
        }
      }
    }

    .select-box-with-error {
      width: 45%;
      float: left;

      select {
        background-size: 8% !important;
      }

      .error-message {
        bottom: -.6vh;
      }
    }

  	select {
  		&.custom {
  			width: 45%;
        background-size: 8%;
        float: left;
  		}
  	}
  }

  #fifth_step {
    &.experience-step {
      .collection-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        p {
          &:first-of-type {
            width: auto;
            margin-right: 5%;
          }
        }

        .box-with-error {
          display: flex;
          flex-direction: column;
          width: 40%;
        }
      }
    }
  }
}
