// MOBILE SCREEN //
@include media ($mobile) {
  #candidate_profile {
    /* PROFILE MAIN INFOS */
    .main-infos {
      width: 100%;
      padding: 2vh 5vw;

      .profile-image-container,
      .curriculum-box {
        width: 20%;
      }

      .profile-image-container {
        .profile-image-box {
          width: 18.8vw;
          height: 10.58vh;

          img {
            width: 100%;
            padding: 0 2.5vw; /* TALVEZ REMOVER */
          }
        }

        p {
          text-align: center;
          margin-bottom: 0;
          font-size: 3vw;
        }
      }

      .profile-infos {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2vw;
        
        .info-icons,
        .info-content {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          height: 100%;
        }

        .info-icons {
          width: 20%;
          margin-right: 0;

          img {
            width: 20%;
            margin: 1vh 0;
          }

          i {
            font-size: 7.5vw;
          }
        }

        .info-content {
          width: 75%;

          p {
            font-size: 3vw;
          }
        }
      }

      .curriculum-box {
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        i {
          font-size: 12.5vw;
          display: flex;
        }

        p {
          text-align: center;
          font-size: 3vw;
        }
      }
    }

    /* PROFILE CONTROL PANEL */
    .profile-control-panel {
      @include span-columns (12 of 12);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2vh 5vw;
      background-color: #F1F1F1;
      flex: 2.5;

      article {
        padding: 2vh 5vw;
        margin-top: 2vh;
        width: 100%;

        &:first-of-type {
          margin: 0;
        }

        .article-header {
          display: flex;
          justify-content: space-between;
          align-items: center; 
          margin-bottom: 2vh;

          h6 {
            margin: 0;
            font-size: 3.4vw;
          }
        }
      }

      .profile-info-advise {
        h5 {
          font-weight: bold;
          text-align: center;
        }

        p {
          text-align: center;
          margin: 0;
        }
      }

      .new-challenges,
      .employed {
        p {
          font-size: 3.4vw;
        }

        // TOGGLE BUTTON //
        .switch label .lever {
          width: 10.7vw;
          height: 3.1vh;
        }

        .switch label .lever:before, .switch label .lever:after {
          width: 5.53vw;
          height: 3vh;
        }
      }

      .employed {
        .article-content {
          .corporate-email {
            padding: 2vh 0 2vh 4vw;
          }
        }
      }
    }
  }
}