// MOBILE SCREEN //
@include media ($mobile) {
  #candidate_profile {
    /* PROFILE MAIN INFOS */
    .main-infos {
      width: 100%;
      padding: 2vh 5vw;

      .profile-image-container,
      .curriculum-box {
        width: 20%;
      }

      .profile-image-container {
        form {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          input:last-of-type {
            background-color: transparent;
            color: #333;
            display: block;
            margin: 0 auto;
            cursor: pointer;
            font-size: 3vw;
            white-space: normal;
            padding: 0;
          }

          label {
            &:hover {
              .mask {
                display: none;
              }
            }
          }

          #candidate_candidate_avatar {
            display: none;
          }
        }

        .profile-image-box {
          width: 100%;
          height: 10.14vh;

          img {
            width: 100%;

            &.without_image{
              padding: 0 1.5vw;
            }
          }
        }

        p {
          text-align: center;
          margin-bottom: 0;
          font-size: 3vw;
        }
      }

      .profile-infos {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2vw;
        
        .info-icons,
        .info-content {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          height: 100%;
        }

        .info-icons {
          width: 20%;
          margin-right: 0;

          img {
            width: 20%;
            margin: 1vh 0;
          }

          i {
            font-size: 7.5vw;
          }
        }

        .info-content {
          width: 75%;

          p {
            font-size: 3vw;
          }
        }
      }

      .curriculum-box {
        form {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          label,
          input {
            background-color: transparent;
            color: #333;
            display: block;
            margin: 1vh auto 0 auto;
            cursor: pointer;
            font-size: 3vw;
            text-align: center;
          }

          input {
            background-color: $light-green;
            color: $white;
            white-space: normal;
            padding: 1vh 1vw;
          }
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;

          &.curriculum-link {
            font-size: 3vw;
            text-align: center;
            line-height: 1.2;
          }
        }

        i {
          font-size: 12.5vw;
          display: flex;
        }

        p {
          text-align: center;
          font-size: 3vw;
        }
      }
    }

    /* PROFILE CONTROL PANEL */
    .profile-control-panel {
      @include span-columns (12 of 12);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2vh 5vw;
      background-color: #F1F1F1;
      flex: 2.5;

      form {
        width: 100%;
        
        article {
          width: 100%;
        }
      }

      article {
        padding: 2vh 5vw;
        margin-top: 2vh;
        width: 100%;

        &:first-of-type {
          margin: 0;
        }

        .article-header {
          display: flex;
          justify-content: space-between;
          align-items: center; 
          margin-bottom: 2vh;

          h6 {
            margin: 0;
            font-size: 3.4vw;
          }
        }
      }

      .profile-info-advise {
        h5 {
          font-weight: bold;
          text-align: center;
        }

        p {
          text-align: center;
          margin: 0;
        }
      }

      .new-challenges,
      .employed {
        p {
          font-size: 3.4vw;
        }

        // TOGGLE BUTTON //
        .switch label .lever {
          width: 10.7vw;
          height: 3.1vh;
        }

        .switch label .lever:before, .switch label .lever:after {
          width: 5.53vw;
          height: 3vh;
        }
      }

      .employed {
        .article-content {
          .corporate-email {
            padding: 2vh 4vw 2vh 4vw;

            input {
              width: 100%;
              font-size: 3vw;
              margin-bottom: 0;
            }
          }

          .profile-submit-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            p {
              float: left;
              margin-bottom: 4vh;
            }

            input {
              width: 50%;
              font-size: 3.3vw;
            }
          }
        }
      }
    }

    .exit-responsive-button {
      width: 30%;
      margin: 5vh auto;
      background-color: $light-green;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 1.5vh 3vw;
      border-radius: 6px;

      .icon-box {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 70%;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}