<tr>
  <td><%= language_level_list.name %></td>
  <td><%= l language_level_list.created_at, format: :short %></td>
  <td>
    <%= edit_resource edit_admin_language_level_list_path(language_level_list) %>
    <%= remove_resource admin_language_level_list_path(language_level_list), {}%>
  </td>
</tr>
