<section id="company_candidate_profile" class="content">
  <article class="candidate-contact-infos">
    <div class="top-infos">
      <div class="button-box">
        <button>Recuperar</button>
      </div>
      
      <div class="main-infos">
        <h4>João da Silva</h4>
        <h4>Gerente</h4>
        <p class="description">
          Promoção em até três anos seria a resposta
        </p>
      </div>

      <%= select_tag 'candidate_profile[status]', options_for_select([["interessado", 0], ["1a Etapa", 1], ["2a Etapa", 2], ["Última Etapa", 3], ["Proposta", 4], ["Aprovados", 5]]), :class => "validate", :include_blank => true %>
    </div>

    <div class="contact-actions">
      <i class="material-icons">stay_current_portrait</i>
      <i class="material-icons">mail_outline</i>
      <i class="material-icons">insert_drive_file</i>
      <i class="material-icons">forum</i>
    </div>
  </article>

  <section class="candidate-complete-infos">
    <h5 class="title-area-left bold gray">
      15 anos de carreira
    </h5>
    <div class="candidate-carrer-experience-info shadow-box">
      <div class="candidate-title-box first-box">
        <div class="candidate-experience-level active">
          <p class="white-text">3.2</p>
        </div>

        <p class="bold">Analista</p>
      </div>

      <div class="candidate-title-box second-box">
        <div class="candidate-experience-level active">
          <p class="white-text">3.4</p>
        </div>

        <p class="bold">
          ESPECIALISTA<br>
          CONSULTOR
        </p>
      </div>

      <div class="candidate-title-box third-box">
        <div class="candidate-experience-level active">
          <p class="white-text">6.1</p>
        </div>

        <p class="bold">
          COORDENADOR<br>
          GERENTE
        </p>
      </div>

      <div class="candidate-title-box fourth-box">
        <div class="candidate-experience-level">
          <p class="white-text">
            
          </p>
        </div>

        <p class="bold">
          GERENTE SR.<br>
          DIRETOR
        </p>
      </div>
    </div>

    <h5 class="title-area-left bold gray">
      Empresas mais relevantes
    </h5>
    <div class="candidate-companies-info shadow-box">
      <p class="compatibility-with-company-size active">
        <span>•</span> 
        Experiência no porte da sua empresa
      </p>

      <div class="relevant-companies">
        <div class="candidate-company-box first-box">
          <p class="bold">BAYER</p>

          <div class="candidate-company-time">
            <p>3.2</p>
          </div>
        </div>

        <div class="candidate-company-box second-box">
          <p class="bold">NEOQUÍMICA</p>

          <div class="candidate-company-time">
            <p>3.4</p>
          </div>
        </div>

        <div class="candidate-company-box third-box">
          <p class="bold">NESTLÉ</p>

          <div class="candidate-company-time">
            <p>6.1</p>
          </div>
        </div>

        <div class="candidate-company-box fourth-box active">
          <p class="bold">TAM</p>

          <div class="candidate-company-time">
            <p>5.4</p>
          </div>
        </div>

        <div class="candidate-company-box fifth-box active">
          <p class="bold">VIVO</p>

          <div class="candidate-company-time">
            <p>5.4</p>
          </div>
        </div>
      </div>
    </div>

    <div class="candidate-main-functions">
      <div class="title-area">
        <h5 class="bold gray">
          Principais funções e onde agrega mais valor
        </h5>

        <i class="material-icons">history</i>
      </div>

      <article class="functions-and-languages">
        <div class="candidate-functions">
          <div class="function-item company-require-match">
            <p class="bold">
              PLANEJ. FINANCEIRO
            </p>

            <p>
              3.2
            </p>
          </div>
          
          <div class="function-item">
            <p class="bold">
              AUDITORIA
            </p>

            <p>
              2.1
            </p>
          </div>
          
          <div class="function-item">
            <p class="bold">
              CONTROLES INTERNOS
            </p>

            <p>
              3.6
            </p>
          </div>

          <div class="function-item">
            <p class="bold">
              TAX
            </p>

            <p>
              4.0
            </p>
          </div>

          <div class="function-item">  
            <p class="bold">
              CONTABILIDADE
            </p>

            <p>
              1.0
            </p>
          </div>
        </div>

        <div class="candidate-languages">
          <div class="language-item company-require-match">  
            <p class="bold">
              ESPANHOL
            </p>

            <div class="language-level">
              <div class="circle active"></div>
              <div class="circle active"></div>
              <div class="circle active"></div>
            </div>
          </div>

          <div class="language-item">  
            <p class="bold">
              PORTUGUÊS
            </p>

            <div class="language-level">
              <div class="circle active"></div>
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </div>

          <div class="language-item">  
            <p class="bold">
              ITALIANO
            </p>

            <div class="language-level">
              <div class="circle active"></div>
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </div>

          <div class="language-item company-require-match">  
            <p class="bold">
              INGLÊS
            </p>

            <div class="language-level">
              <div class="circle active"></div>
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <article class="candidate-experiences-info gray-box shadow-box">
      <p>
        Principais pontos técnicos
      </p>

      <p>
        Principais pontos técnicos
      </p>

      <p>
        Principais pontos técnicos
      </p>

      <p>
        Principais pontos técnicos
      </p>

      <p>
        Principais pontos técnicos
      </p>
    </article>
  </section>

  <section class="interest-infos-container">
    <h5 class="bold gray">
      Motivação para considerar a sua empresa
    </h5>

    <div class="candidate-interest-infos shadow-box">
      <div class="left-infos">
        <div class="localization">
          <div class="circle active"></div>
          <p class="semi-bold">Localização</p>
        </div>

        <div class="size">
          <div class="circle"></div>
          <p class="semi-bold">Porte</p>
        </div>

        <div class="sector">
          <div class="circle active"></div>
          <p class="semi-bold">Setor</p>
        </div>
      </div>

      <div class="right-infos">
        <p class="semi-bold">Remuneração a partir de:</p>

        <div class="company-salary">
          <p class="bold">
            R$ 7.000/mês
          </p>

          <p class="bold">
            R$ 120.000/ano
          </p>
        </div>
      </div>
      
      <div class="bottom-infos">
        <div class="company-extra-infos">
          <p>
            Meio Período/Tempo Integral/Por Projetos
          </p>
        </div>

        <div class="extra-salary-infos">
          <p class="white-text">
            O VALOR PRETENDIDO CORRESPONDE A UM ACRÉSCIMO / DECRÉSCIMO DE XX % FIXO MENSAL E XX % ANUAL
          </p>
        </div>
      </div>
    </div>
  </section>
</section>