.login,
.register {
  &.candidate {
    background: image-url(asset_path("background_header_home.jpg")) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    .mask {
      z-index: 1;
      background: rgba($gondola, 0.3);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}