<section id="transition_step" class="second-step-transition">
  <div class="box-shadow">
    <h5 class="bold light-blue-nav-text">
      Etapa 1 concluída!
    </h5>

    <p class="bold medium-gray">
      
    </p>

    <%= image_tag "step_2_transition_bg.png" %>
  </div>

  <div class="step-info">
    <p class="bold light-blue-nav-text">
      2/3 Etapas
    </p>

    <p class="bold medium-gray">
      Destaque os pontos mais relevantes de sua carreira
    </p>
  </div>
  
  <section class="action-buttons-single">
    <%= link_to "AVANÇAR", candidate_experience_step_1_path, :class => 'waves-effect waves-light btn-default green-default' %>
  </section>
</section>