<section id="transition_step" class="third-step-transition">
  <div class="box-shadow">
    <%= image_tag "step_1_transition_bg.png" %>

    <h5 class="bold">
      Agora destaque os pontos mais relevantes de sua carreira
    </h5>
  </div>

  <div class="step-info">
    <p class="bold medium-gray">
      2/3 Etapas
    </p>

    <p class="bold medium-gray">
      Tempo total restante: 10 min
    </p>
  </div>
  
  <section class="action-buttons-single">
    <%= link_to "AVANÇAR", candidate_experience_step_1_path, :class => 'waves-effect waves-light btn-default green-default' %>
  </section>
</section>