<section id="first_step" class="question-container content">
  <%#= form_tag({controller: "interest", action: "second"}, method: "post", id: "candidate_first") do %>
    <section class="content-box">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 20%"></div>
          </div>

          <h5 class="center-align section">Qual é o seu grau de instrução?</h5>
        </li>
        
        <% @education_list.each do |education| %>
          <li class="collection-item">
            <p>
              <label>
                <%= radio_button_tag "#{}", education.id, false, class: "with-gap" %>
                  <span>
                    <%= education.name %>
                  </span>
              </label>
            </p>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_home_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", candidate_education_step_2_path, :class => "waves-effect waves-light btn-large" %>
    </section>
  <%# end %>
</section>