html,
body {
  height: 100%;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

code,
kbd,
pre,
samp {
  font-family: 'Open Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}


p,
figcaption {
  margin: 0 0 $small-spacing;
}

a {
  color: $gray;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($gray, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

h4 {
  &.main-title {
    font-size: 1.5vw;
    line-height: 1.3;
    margin-bottom: 0;
  }
}

/* Custom Font Styles */
// h2 {
//   font-family: 'Museo 700';
// }

// h3 {
//   font-family: 'Museo 700';
//   font-size: 21px;
// }

// p,
// figcaption {
//   font-family: 'Museo 500';
//   font-size: 15px;
// }

/* Colors */
h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
figcaption,
a,
span,
li,
label {
  &.white {
    color: $white;
  }

  &.medium-gray {
    color: $medium-gray;
  }

  &.gray-text {
    color: $gray-text;
  }

  &.gray-bg {
    color: $gray-bg;
  }

  &.dark-gray {
    color: $dark-gray;
  }

  &.gray {
    color: $gray;
  }

  &.light-black {
    color: $light-black;
  }

  &.blue {
    color: $blue;
  }

  &.blue-text {
    color: $blue-text;
  }

  &.navy-blue-text {
    color: $navy-blue-text;
  }

  &.light-blue-nav-text {
    colot: $light-blue-nav-text;
  }

  &.light-blue-text {
    color: $light-blue-text;
  }

  &.light-blue-nav-drop {
    color: $light-blue-nav-drop;
  }

  &.green-text {
    color: $green;
  }

  &.light-green-text {
    color: $light-green;
  }

  &.light-font {
    font-weight: 300;
  }

  &.semi-bold {
    font-weight: 500;
  }

  &.bold {
    font-weight: 600;
  }

  &.strong-bold {
    font-weight: 700;
  }
}