<tr>
  <td><%= title_list.name %></td>
  <td><%= l title_list.created_at, format: :short %></td>
  <td>
    <%= edit_resource edit_admin_title_list_path(title_list) %>
    <%= remove_resource admin_title_list_path(title_list), {}%>
  </td>
</tr>
