<section id="candidate_terms" class="content terms">
  <section class="content-box">
    <h2 class="title bold gray">
      Termos
    </h2>

    <div class="term-box">
      <h3 class="bold gray"><%= @current_term.title %></h3>

      <%= raw @current_term.term %>
  </section>

  <section class="candidate-terms-actions action-buttons-single">
    <%= link_to "ACEITAR E CONTINUAR", company_about_step_1_path, :class => 'waves-effect waves-light btn-default green-default bold' %>
  </section>
</section>
