// MOBILE SCREEN //
@include media ($mobile) {
  #company_candidate_profile {
    padding: 0 5vw;

    .shadow-box {
      box-shadow: none;
    }

    .responsive-divider {
      display: block;
      position: absolute;
      height: 0.4vh;
      width: 111%;
      border-bottom: solid 2px rgba(170, 170, 170, 0.5);
      left: -5vw;
    }

    .order-by-icon {
      right: 5vw;
      top: 3.8vh;
      font-size: 11vw;
      z-index: 99999;
    }

    .candidate-contact-infos {
      padding: 4vh 0 0;
      border-bottom: none;

      .top-infos {
        flex-wrap: wrap;
        margin-bottom: 4vh;

        .button-box {
          display: none;
        }

        .button-box-responsive,
        select {
          width: 48%;
          background-size: 3vw;
          background-position-x: 95%;
          margin-bottom: 0 !important;
        }

        .button-box-responsive {
          display: block;

          button {
            width: 100%;
            background-color: $light-green;
          }
        }

        .main-infos {
          width: 100%;
          margin-bottom: 4vh;
        }
      }

      .contact-actions {
        i {
          font-size: 10vw;
        }
      }
    }
    
    .candidate-complete-infos {
      .default-container {
        width: 100%;
        height: auto;
        border-right: none;
        padding: 4vh 0 0;
        position: relative;

        &.border-bottom {
          border-bottom: none;
        }

        &.small-size {
          height: auto;
        }
      }

      .title-area-left,
      .title-area {
        font-size: 6vw;
        text-align: center;
      }
      
      .candidate-carrer-experience-info-container {
        .candidate-carrer-experience-info {
          padding: 0;

          .candidate-title-box {
            width: 25%;

            p {
              text-align: center;
              font-size: 2.7vw;
            }

            .candidate-experience-level {
              width: 98%;
              height: 8vh;

              p {
                font-size: 4vw;
              }
            }
          }
        }

        .responsive-divider {
          top: 27.7vh;
        }
      }
      
      .candidate-companies-info-container {
        .candidate-companies-info {
          padding: 0;
          margin-bottom: 4vh;

          .compatibility-with-company-size {
            &.active {
              justify-content: center;
              font-size: 4vw;
              font-weight: bold;
              color: $gray;
              margin-bottom: 3vh;

              span {
                margin-right: 1.5vw;
                font-size: 7vw;
              }
            }
          }

          .relevant-companies {
            .candidate-company-box {
              width: 20%;

              p {
                text-align: center;
                font-size: 2.7vw;
                height: 6vh;
                display: flex;
                align-items: center;
              }

              .candidate-company-time {
                width: 98%;
                height: 8vh;

                p {
                  font-size: 4vw;
                  height: auto;
                }
              }
            }
          }
        }

        .responsive-divider {
          top: 36vh;
        }
      }

      .candidate-main-functions {
        padding: 0;
        margin-bottom: 4vh;

        .title-area {
          align-items: flex-end;

          h5 {
            text-align: center;
          }

          i {
            font-size: 12vw;
          }
        }

        .functions-and-languages {
          flex-direction: column;
          position: relative;
          padding: 0;

          .candidate-functions,
          .candidate-languages {
            width: 100%;

            .function-item {
              align-items: center;

              p {
                &:last-of-type {
                  font-size: 5vw;
                  margin-right: 2vw;
                }
              }
            }
          }

          .responsive-divider {
            top: 31.7vh;
          }

          .candidate-languages {
            margin-top: 6vh;

            .language-item {
              .language-level {
                margin-right: 2vw;

                .circle {
                  width: 5vw;
                  height: 5vw;
                  margin-right: 3vw;
                }
              }
            }
          }
        }

        .responsive-divider {
          top: 78.5vh;
        }
      }
    }

    .candidate-experiences-info {
      padding: 2vh 3vw;
    }

    .interest-infos-container {
      padding: 4vh 0 0;

      h5 {
        font-size: 6vw;
        text-align: center;
      }

      .candidate-interest-infos {
        padding: 2vh 0;

        .left-infos,
        .company-extra-infos {
          width: 50%;
        }

        .company-extra-infos {
          p {
            text-align: left;
          }
        }

        .left-infos {
          .localization,
          .size,
          .sector {
            .circle {
              width: 7.3vw;
              height: 7.3vw;
              margin-right: 4.5vw;
            }
          }
        }

        .right-infos {
          align-items: flex-start;
          width: 100%;

          p {
            margin-bottom: 2vh;
          }
        }
      }
    }
  }
}