// MOBILE SCREEN //
@include media ($mobile) {
  /* SESSION TYPE (CANDIDATE OR COMPANY) */
  header { 
    .question-header {
      height: 14vh;
    }
    
    // NOT LOGGED IN HEADER //
    .not-logged-in-header {
      padding: 4vh 0;

      .top {
        display: flex;
        align-items: center;
        padding: 0 5vw;

        img {
          width: 15%;

          &.wingle-title {
            width: 30%;
          }
        }

        .login-button {
          width: 25%;
          padding: 1vh;
        }
      }
    }
    
    // QUESTIONS HEADER //
    .questions-header {
      display: flex;
      align-items: center;
      padding: 4vh 5vw;

      .left-box {
        width: 20%;
        float: left;

        a {
          font-size: 8vw;
          color: $medium-gray;
        }
      }

      .logo-title-box {
        width: 60%;

        img {
          width: 50%;
          display: block;
          margin: 0 auto;
        }
      }
    }

    // DASHBOARD HEADER //
    .dashboard-header {
      display: none;
    }

    // COMPANY CANDIDATE PROFILE HEADER //
    .full-header {
      padding: 2vh 0;
      
      .header-top {
        padding: 0vh 5vw;

        .left-box {
          i {
            font-size: 10vw;
          }
        }

        .center-box {
          img {
            width: 35%;
          }
        }

        .profile-container {
          visibility: hidden;
          height: 0;
        }
      }
    }

    // DASHBOARD HEADER RESPONSIVE //
    .responsive-dashboard-header {
      @include span-columns (12 of 12);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2vh 5vw;

      .logo-box {
        width: 60%;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .cloud-bg {
    padding-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
      font-size: 5vw;
      line-height: 1;
    }
  }
}