// MOBILE SCREEN //
@include media ($mobile) {
  #responsive_nav {
    @include span-columns (12 of 12);
    padding: 1vh 0;
    background-color: $light-green;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      box-shadow: none;
      height: 100%;

      a {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        border-right: solid 1px $white;
        height: 12vh;
        width: 25%;

        &:last-of-type {
          border-right: none;
        }

        img {
          width: 30%;
        }

        p {
          color: $white;
          line-height: 1.2;
          text-align: center;
          margin-bottom: 0;
          font-size: 3.3vw;
        }
      }
    }
  }
}