<!-- params of partial: {style: :with_logo_back_button, back_button: false} -->

<% if options[:style] == :true %>  
  <!-- Desktop Menu -->
  <!-- <aside id="menu" class="desktop">
    <nav>
      <ul>
        <li>
          <%#= image_tag 'icons/schedule.svg' %>
          <%#= link_to "Interesses", "#{}" %>
        </li>
        <li>
          <#%= image_tag 'icons/experience.svg' %>
          <%#= link_to "Experiência", candidate_experience_step_1_path %>
        </li>
        <li>
          <%#= image_tag 'icons/company.svg' %>
          <%#= link_to "Empresas", "#{}" %>
        </li>
        <li>
          <%#= image_tag 'icons/hability.svg' %>
          <%#= link_to "Habilidades", "#{}" %>
        </li>
        <li>
          <%#= image_tag 'icons/shield.svg' %>
          <%#= link_to "Educação", "#{}" %>
        </li>
        <li>
          <%#= image_tag 'icons/shield.svg' %>
          <%#= link_to "Pretensão", "#{}" %>
        </li>
      </ul>

      <div class="settings-box">
        <ul>
          <li>
            <%#= link_to "Configurações", '#{}' %>
          </li>
        </ul>
      </div>

      <div class="logout-box">
        <ul>
          <li>
            <%#= image_tag 'icons/logout.svg' %>
            <%#= link_to "Sair", destroy_candidate_session_path, method: :delete, confirm: 'Deseja sair?' %>
          </li>
        </ul>
      </div>
    </nav>
  </aside> -->
<% end %>