<section id="transition_step" class="first-step-transition">
  <div class="box-shadow">
    <h5 class="bold light-blue-nav-text">
      Vamos começar sua entrevista? 
    </h5>

    <p class="bold medium-gray">
      Você vai precisar de 15 minutos.
    </p>

    <%= image_tag "step_1_transition_bg.png" %>
  </div>

  <div class="step-info">
    <p class="bold light-blue-nav-text">
      1/3 Etapas
    </p>

    <p class="bold medium-gray">
      Conte o que você busca em
      seu novo desafio
    </p>
  </div>
  
  <section class="action-buttons-single">
    <%= link_to "AVANÇAR", candidate_interest_step_1_path, :class => 'waves-effect waves-light btn-default green-default' %>
  </section>
</section>