<%= title_page "Sub-regi천es da Cidade #{@city.name}" %>

<%= add_resource 'Nova Sub-regi찾o', new_admin_state_city_city_locale_neighborhood_group_path(@state, @city) %>

<table class='table-page'>
  <thead>
    <tr>
      <th>C처digo</th>
      <th>Sub-regi찾o</th>
      <th>Criado em</th>
      <th>Bairros</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <%= display_list_for(@neighborhood_groups, fields: 3) %>
  </tbody>
</table>

<%= will_paginate @neighborhood_groups %>
