<%= title_page 'Bairro' %>

<section class="fields-wrapper two-columns margin-top">
  <article>
  	<p>
  	  <strong>Código:</strong> <%= @neighborhood_group.code %>
  	</p>

    <p>
      <strong>Nome:</strong> <%= @neighborhood_group.name %>
    </p>
  </article>
</section>