<section class="question-container">
  <div class="row logo">
    <div class="col s6 offset-s3">
      <h4 class="teal-text center-align">Wingle</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s6 offset-s3">
      <ul class="collection with-header">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 15%"></div>
          </div>

          <h5 class="center-align section">Qual a sua localização de interesse?</h5>
        </li>
        <li class="collection-item">
          <p>
            <label>
              <input class="with-gap" name="group1" type="radio"  />
              <span>MODERADA: FOCO NO MÉDIO PRAZO, NEGÓCIO E PESSOAS.</span>
            </label>
          </p>
        </li>
        <li class="collection-item">
          <p>
            <label>
              <input class="with-gap" name="group1" type="radio"  />
              <span>CONSERVADORA: FOCO NO LONGO PRAZO, HIERARQUIZADA E TRADICIONAL.</span>
            </label>
          </p>
        </li>
        <li class="collection-item">
          <p>
            <label>
              <input class="with-gap" name="group1" type="radio"  />
              <span>AGRESSIVA: FOCO NO CURTO PRAZO, NÚMEROS E PERFORMANCE.</span>
            </label>
          </p>
        </li>
      </ul>

      <div class="row buttons">
        <div class="section">
          <%= link_to "Anterior", "#{}", :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
          <%= link_to "Próximo", candidate_step_2_path, :class => "waves-effect waves-light btn-large" %>
        </div>
      </div>
    </div>
  </div>
</section>