<section id="login_or_register" class="content">
  <div class="cloud-bg">
    <p class="bold medium-gray">
      Mercado de trabalho<br>
      na nuvem
    </p>
  </div>

  <section class="content-box">
    <form action="">
      <input type="text" placeholder="CPF">
      <input type="password" placeholder="SENHA">
    </form>

    <%= link_to "RECUPERAR SENHA", "#{}" %>
  </section>

  <section class="login-or-register-actions">
    <%= link_to "SAIBA MAIS", candidate_user_login_path, :class => 'btn-default gray-default bold' %>
    <%= link_to "CONTINUAR", candidate_terms_path, :class => 'btn-default green-default bold' %>
  </section>
</section>