<section id="quick_details" class="content">
  <h2 class="medium-gray bold">
    AVALIE NOVOS DESAFIOS COM<br>
    LIBERDADE, LEVEZA E AUTONOMIA
  </h2>

  <section class="content-box">
    <div class="how-to-summary">
      <h3 class="bold light-green-text">Como funciona</h3>

      <ul>
        <li class="light-green-text">
          <span class="medium-gray bold">SEU PRÓXIMO DESAFIO IDEAL</span>
        </li>

        <li class="light-green-text">
          <span class="medium-gray bold">MONITORADO NO MERCADO EM TEMPO REAL</span>
        </li>

        <li class="light-green-text">
          <span class="medium-gray bold">SUA CARREIRA INDICADA PARA AS PESSOAS CERTAS</span>
        </li>
      </ul>
    </div>

    <div class="quick-details-info">
      <h2>
        Quick Details
      </h2>

      <div class="list">
        <div class="first list-item">
          <div class="icon-box">
            <div class="icon">
              <i class="material-icons">person_add</i>
            </div>
          </div>

          <p>
            Adicione o perfil de sua empresa ne nuvem
          </p>
        </div>

        <div class="second list-item">
          <div class="icon-box">
            <div class="icon">
              <i class="material-icons">cached</i>
            </div>
          </div>

          <p>
            O mercado de sua empresa em tempo real
          </p>
        </div>

        <div class="third list-item">
          <div class="icon-box">
            <div class="icon">
              <i class="material-icons">access_time</i>
            </div>
          </div>

          <p>
            Ganhe agilidade e praticidade
          </p>
        </div>

        <div class="fourth list-item">
          <div class="icon-box">
            <div class="icon">
              <i class="material-icons">error</i>
            </div>
          </div>

          <p>
            490 Orders
          </p>
        </div>

        <div class="fifth list-item">
          <div class="icon-box">
            <div class="icon">
              <i class="material-icons">cancel</i>
            </div>
          </div>

          <p>
            42 Items
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="quick-details-actions">
    <%= link_to "CONTINUAR", candidate_complete_register_path, :class => 'btn-default green-default bold' %>
  </section>
</section>