<section id="quick_details" class="content">
  <header>
    <div class="logo-title-box">
      <%= image_tag 'wingle-logo.png' %>
    </div>  
  </header>

  <section class="content-box">
    <h2>
      AVALIE NOVOS DESAFIOS COM<br>
      LIBERDADE, LEVEZA E AUTONOMIA
    </h2>

    <div class="how-to-summary">
      <p>Como funciona</p>

      <ul>
        <li>
          SEU PRÓXIMO DESAFIO IDEAL          
        </li>

        <li>
          MONITORADO NO MERCADO EM TEMPO REAL
        </li>

        <li>
          SUA CARREIRA INDICADA PARA AS PESSOAS CERTAS
        </li>
      </ul>
    </div>

    <div class="quick-details-info">
      <h2>
        Quick Details
      </h2>

      <div class="list">
        <div class="first">
          <div class="icon">
            <i class="material-icons">person_add</i>
          </div>

          <p>
            Adicione o perfil de sua empresa ne nuvem
          </p>
        </div>

        <div class="second">
          <div class="icon">
            <i class="material-icons">cached</i>
          </div>

          <p>
            O mercado de sua empresa em tempo real
          </p>
        </div>

        <div class="third">
          <div class="icon">
            <i class="material-icons">access_time</i>
          </div>

          <p>
            Ganhe agilidade e praticidade
          </p>
        </div>

        <div class="fourth">
          <div class="icon">
            <i class="material-icons">error</i>
          </div>

          <p>
            490 Orders
          </p>
        </div>

        <div class="fifth">
          <div class="icon">
            <i class="material-icons">cancel</i>
          </div>

          <p>
            42 Items
          </p>
        </div>
      </div>
    </div>

    <section class="quick-details-actions">
      <%= link_to "CONTINUAR", candidate_complete_register_path %>
    </section>
  </section>
</section>