<section id="candidate_terms" class="container">
  <header>
    <div class="left-box">
      <%= link_to :back do %>
        <i class="icon ion-md-arrow-round-back"></i> 
      <% end %>
    </div>

    <div class="logo-title-box">
      <%= image_tag 'wingle-logo.png' %>
    </div>  
  </header>

  <section class="content-box">
    <h1 class="title">
      Termos
    </h1>

    <div class="term-box">
      <h2>Article 1</h2>

      <p class="bold">Who May Use the Services</p>

      <p>
        When one door of happiness closes, another opens, but often we look so long at the closed door that we do not see the one that has been opened for us. 
      </p>
      
      <ul>
        <li>
          <span>Step 1</span>: You may use the Services only if you agree to form a binding contract with us and are not a person barred from receiving services under the laws of the applicable jurisdiction. 
        </li>

        <li>
          <span>Step 2</span>: Our Privacy Policy describes how we handle the information you provide to us when you use our Services.
        </li>
      </ul>

      <p class="bold">Privacy</p>

      <p>
        When one door of happiness closes, another opens, but often we look so long at the closed door that we do not see the one that has been opened for us. 
      </p>
    </div>
  </section>

  <section class="candidate-terms-actions">
    <%= link_to "CONTINUE & AGREE", candidate_quick_details_path %>
  </section>
</section>