<section id="welcome_message" class="content">
  <section class="content-box">
    <h2 class="bold light-green-text">
      Obrigado,
    </h2>

    <p class="bold light-green-text">
      você será<br>
      informado assim que começarmos a atuar em sua região.
    </p>
  </section>

  <section class="welcome-message-actions action-buttons-single">
    <%= link_to "HOME", candidate_step_1_path, :class => 'waves-effect waves-light btn-default green-default bold' %>
  </section>
</section>