<section id="welcome_message" class="content">
  <header>
    <div class="logo-title-box">
      <%= image_tag 'wingle-logo.png' %>
    </div>  
  </header>

  <section class="content-box">
    <h2>
      Obrigado,
    </h2>

    <p>
      você será<br>
      informado assim que começarmos a atuar em sua região.
    </p>
  </section>

  <section class="welcome-message-actions">
    <%= link_to "HOME", candidate_step_1_path %>
  </section>
</section>