<section id="welcome_message" class="content">
  <section class="content-box">
    <h2 class="bold light-green-text">
      Obrigado,
    </h2>

    <p class="bold light-green-text">
      Informe seu e-mail para receber notícias assim que começarmos a atuar em sua região.
    </p>
  </section>

  <section class="welcome-message-actions action-buttons-single">
    <!-- SIGNOUT LINK -->
    <%= link_to "SAIR", destroy_candidate_session_path, method: :delete, confirm: 'Deseja sair?', :class => 'waves-effect waves-light btn-default bold grey lighten-2 black-text' %>
  </section>
</section>
