<section id="welcome_message" class="content">
  <section class="content-box">
    <h2 class="bold light-green-text">
      Obrigado,
    </h2>

    <p class="bold light-green-text">
      você será<br>
      informado assim que começarmos a atuar em sua região.
    </p>
  </section>

  <section class="welcome-message-actions action-buttons-single">
    <%= link_to "HOME", candidate_interest_step_1_path, :class => 'waves-effect waves-light btn-default green-default bold' %>

    <!-- SIGNOUT LINK -->
    <%= link_to "SAIR", destroy_candidate_session_path, method: :delete, confirm: 'Deseja sair?', :class => 'waves-effect waves-light btn-default bold grey lighten-2 black-text' %>
  </section>
</section>
