<section id="complete_company_register" class="question-container content">
  <section class="title">
    <h4 class="light-green-text bold main-title">
      Encontre novos candidatos para sua empresa!
    </h4>
  </section>
    
  <section class="action-buttons-single">
    <%= link_to "CONTINUAR", company_filter_step_1_path, class: "waves-effect waves-light btn-large" %>
  </section>
</section>