/* GENERAL FILTER STEPS */
.filter-container {
  .collection-item {
    font-size: 1.1vw;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2vh 1.6vw !important;

    a {
      color: #9e9e9e;
    }

    &.company-filter-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;

      .half-label {
        width: 40%;
        margin-bottom: 0;
      }

      .box-with-error {
        width: 50%;

        select {
          width: 100%;
          margin-bottom: 0 !important;
        }
      }

      .price-range-block {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2vh 2vw 4vh 2vw;

        #slider-range {
          width: 100%;
          border-radius: 50px;
          margin-bottom: 6vh;

          .ui-slider-range {
            background: #06bebd; /* Old browsers */
            background: -moz-linear-gradient(left, #06bebd 0%, #51c597 50%, #b7ce63 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #06bebd 0%,#51c597 50%,#b7ce63 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #06bebd 0%,#51c597 50%,#b7ce63 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06bebd', endColorstr='#b7ce63',GradientType=1 );
          }

          .ui-slider-handle {
            border-radius: 50px;
            background-color: #73CBAF;
          }
        }

        input {
          width: 20%;
          margin-bottom: 0;
        }
      }

      &.range-slider-item {
        flex-direction: column;

        .slider-label {
          color: #9e9e9e;
          text-transform: none;
        }
      }

      &:last-of-type {
        justify-content: center;
      }
    }
  }

  .action-buttons-single {
    padding-top: 4vh;
  }

  .action-buttons-duo {
    padding: 5vh 0 7vh;
  }

  .error-message {
    margin-top: .3vh;
    font-size: .7vw;
  }
}