<section id="first_step" class="question-container content">
  <%#= form_tag({controller: "company", action: "third"}, method: "post", id: "candidate_first") do %>
    <section class="content-box">
      <ul class="collection with-header candidate-companies-form with-input">
        <li class="collection-header">
          <div class="progress ">
            <div class="determinate" style="width: 15%"></div>
          </div>

          <h5 class="center-align section">Para manter sua privacidade registre sua empresa mais recente ou atual?</h5>
        </li>
        
        
      </ul>
    </section>

    <section class="action-buttons-duo">
      <%= link_to "Anterior", candidate_home_path, :class => "waves-effect waves-light btn-large grey lighten-2 black-text" %>
      <%= link_to "Próximo", 'javascript:void(0);', class: "waves-effect waves-light btn-large", id: "validate-form-button" %>
    </section>
  <%# end %>
</section>