<section id="transition_step" class="second-step-transition">
  <div class="box-shadow">
    <%= image_tag "step_1_transition_bg.png" %>

    <h5 class="bold">
      Para começar precisamos saber
      o que você busca em um próximo 
      desafio profissional
    </h5>
  </div>

  <div class="step-info">
    <p class="bold medium-gray">
      3/3 Etapas
    </p>

    <p class="bold medium-gray">
      Tempo total restante: 5 min
    </p>
  </div>
  
  <section class="action-buttons-single">
    <%= link_to "AVANÇAR", candidate_company_step_1_path, :class => 'waves-effect waves-light btn-default green-default' %>
  </section>
</section>