<section id="transition_step" class="third-step-transition">
  <div class="box-shadow">
    <h5 class="bold light-blue-nav-text">
      Última etapa!
    </h5>

    <p class="bold medium-gray">
    </p>

    <%= image_tag "step_3_transition_bg.jpg" %>
  </div>

  <div class="step-info">
    <p class="bold light-blue-nav-text">
      Etapa 3/3
    </p>

    <p class="bold medium-gray">
      Finalize dizendo onde trabalhou e qual sua pretensão para se movimentar
    </p>
  </div>
  
  <section class="action-buttons-single">
    <%= link_to "AVANÇAR", candidate_company_step_1_path, :class => 'waves-effect waves-light btn-default green-default' %>
  </section>
</section>