<section id="reset_password" class="content">
  <div class="cloud-bg">
    <p class="bold medium-gray">
      Esqueci minha senha
    </p>
  </div>
  
  <section class="content-box content-container">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), defaults: {label: false}, html: { method: :post }) do |f| %>
      <section class="content-box">
        <%= f.input :cpf, required: true, autofocus: true, placeholder: "CPF", input_html: { class: "cpf" } %>
        <div class="separator-form">
          <span class="text-center">OU</span>
        </div>
        <%= f.input :email, required: true, placeholder: "EMAIL" %>
      </section>

      <section class="form-actions action-buttons-single">
        <%= link_to "CONTINUAR", 'javascript:void(0);', :class => 'waves-effect waves-light btn-default green-default bold reset-button', :onclick => "$('#new_candidate').submit()" %>
      </section>
    <% end %>
  </section>
</section>