// MOBILE SCREEN //
@include media ($mobile) {  
  #login_or_register {
    .cloud-bg {
      p {
        color: $light-blue-nav-text;
        font-size: 7vw;
      }
    }

    .login-bg-box {
      width: 100%;
      padding: 10vh 5vw 0;
      }

    .content-box {
      @include span-columns (6 of 6);

      form {
        @include span-columns (4 of 6);
        @include shift (1 of 6);
      }

      a {
        @include span-columns (4 of 6);
        @include shift (1 of 6);
        padding-top: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        // text-decoration: underline;
        text-decoration: none;
      }
    }

    .action-buttons-duo {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        @include omega;
        width: 40%;

        &:first-of-type {
          margin-right: 5vw;
        }
      }
    }

    #notice-wrapper {
      width: 100%;
      z-index: 999;
      background: $green;
      border-radius: 5px;

      .notice {
        padding: 1rem 0;
        text-align: center;
        margin: 0;
        font-weight: 700;
        color: #FFF;
        letter-spacing: 1px;
      }
    }
  }
}