<section id="session_type" class="content">
  <header>
    <div class="top">
      <%= image_tag 'wingle-title.png' %>
      <%= image_tag 'wingle-logo.png' %>
    </div>  

    <div class="cloud-bg">
      Mercado de trabalho<br>
      na nuvem
    </div>
  </header>

  <section class="session-type-options">
    <%= link_to "Minha carreira", candidate_user_login_path %>
    <%= link_to "Pessoas para minha empresa", "#{}" %>
  </section>
</section>