<section id="session_type" class="content">
  <!-- ######## OLDER SESSION TYPE BUTTONS => CANDIDATE OR COMPANY ######## -->
  <!-- <div class="cloud-bg">
    <p class="bold medium-gray light-green-text">
      Mercado de trabalho<br>
      compartilhado na nuvem
    </p>
  </div> -->
  
  <!--
  <section class="session-type-options action-buttons-single">
    <%#= link_to "Minha carreira", candidate_login_or_register_path, :class => 'waves-effect waves-light btn-default green-default bold' %>
    <%#= link_to "Pessoas para minha empresa", company_login_or_register_path, :class => 'waves-effect waves-light btn-default green-default bold' %>
  </section> 
  -->
  
  <div class="cloud-bg">
    <p class="bold medium-gray">
      Movimentação<br>
      profissional em<br>
      tempo real
    </p>
  </div>

  <section class="action-buttons-single candidate-first-infos">
    <div class="candidate-main-infos">
      <i class="material-icons">business_center</i>
      <input id="current_area" name="candidate[current_area]" type="text" placeholder="Área atual">  
    </div>

    <div class="candidate-main-infos">
      <i class="material-icons">people</i>
      <input id="current_position" name="candidate[current_position]" type="text" placeholder="Cargo atual">  
    </div>

    <div class="candidate-main-infos">
      <i class="material-icons">place</i>
      <select name="distributor[uf_rg]">
        <option value="">Localidade</option>
        <option value="sp">São Paulo</option>
        <option value="other">Outra</option>
      </select>
    </div>
  </section>

  <section class="session-type-options action-buttons-single">
    <%= link_to "ENTRAR", candidate_pre_register_path, :class => 'waves-effect waves-light btn-default green-default bold' %>
  </section>
</section>