<section id="session_type" class="content">
  <div class="cloud-bg">
    <p class="bold medium-gray light-green-text">
      Mercado de trabalho<br>
      compartilhado na nuvem
    </p>
  </div>

  <section class="session-type-options action-buttons-single">
    <%= link_to "Minha carreira", candidate_login_or_register_path, :class => 'waves-effect waves-light btn-default green-default bold' %>
    <%= link_to "Pessoas para minha empresa", "#{}", :class => 'waves-effect waves-light btn-default green-default bold' %>
  </section>
</section>