<%= title_page "Bairros da Cidade #{@city.name}" %>

<table class='table-page'>
  <thead>
    <tr>
      <th>Bairro</th>
      <th>Criado em</th>
    </tr>
  </thead>

  <tbody>
    <% @neighborhoods.each do |neighborhood| %>
      <tr>
        <td><%= neighborhood.name %></td>
        <td><%= l neighborhood.created_at, scope: [:resource] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @neighborhoods %>