<%= title_page "Bairros da Cidade #{@city.name}" %>

<%= add_resource 'Novo Bairro', new_admin_state_city_city_locale_neighborhood_group_neighborhood_path(@state, @city, @city_locale, @neighborhood_group) %>

<table class='table-page'>
  <thead>
    <tr>
      <th>Código</th>
      <th>Bairro</th>
      <th>Criado em</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <%= display_list_for(@neighborhoods, fields: 3) %>
  </tbody>
</table>

<%= will_paginate @neighborhoods %>
