<section id="company_user_profile">
  <%= render :partial => "company/main/company_infos" %>

  <section class="company-active-users-container">
    <ul>
      <li class="active-user-item">
        <div class="active-user-info">
          <p class="bold">Joaquim Moreira</p>
        </div>
      </li>

      <li class="active-user-item">
        <div class="active-user-info">
          <p class="bold">Finanças</p>
        </div>

        <%= submit_tag "Minha carreira", class: "submit-action", data: { disable_with: "..." } %>
      </li>

      <li class="active-user-item">
        <div class="active-user-info">
          <p class="bold">Diretor</p>
        </div>
      </li>

      <li class="active-user-item">
        <div class="active-user-info">
          <p class="bold">(11) 99345-1423</p>
        </div>
      </li>

      <li class="active-user-item">
        <div class="active-user-info">
          <p class="bold">fabio.saad@nestlé.com</p>
        </div>

        <%= submit_tag "Alterar Email", class: "submit-action", data: { disable_with: "..." } %>
      </li>
    </ul>
  </section>
</section>