button, a.btn-default {
  border-radius: 20px;
  font-size: 15px;
  color: $white;
  text-align: center;
  text-decoration: none;
  padding: 2vh;

  &.green-default {
    background-image: linear-gradient(180deg, $green 60%, rgba(0, 123, 83, 0.5));
  }

  &.gray-default {
    background-image: linear-gradient(180deg, $gray 60%, rgba(0, 0, 0, 0.5));
  }
}

.action-buttons-single {
  @include span-columns (6 of 6);
  padding-top: 14vh;

  a {
    @include span-columns (4 of 12);
    @include shift (4 of 12);

    &:first-of-type {
      margin-bottom: 5vh;
    }
  } 
}

.action-buttons-duo {
  @include span-columns (6 of 6);
  padding-top: 7vh;

  a {

    @include span-columns (2 of 6);
    @include shift (0 of 6);

    &:first-of-type {
      @include shift (1 of 6);
    }

    &.disabled {
      position: relative;
      z-index: -1;
      background-color: $dark-gray;
    }
  }
}