/* SESSION TYPE (CANDIDATE OR COMPANY) */
header { 
  .question-header,
  .dashboard-header {
    height: 14vh;
  }
  
  // NOT LOGGED IN HEADER //
  .not-logged-in-header {
    padding: 4vh 0;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 13%;
        margin: 0 5.5vw;

        &.wingle-title {
          width: 15%;
        }
      }
    }
  }
  
  // QUESTIONS HEADER //
  .questions-header {
    display: flex;
    align-items: center;
    padding: 4vh 5.5vw;

    .left-box {
      width: 20%;
      float: left;

      a {
        font-size: 4rem;
        color: $medium-gray;
      }
    }

    .logo-title-box {
      width: 60%;

      img {
        width: 30%;
        display: block;
        margin: 0 auto;
      }
    }
  }

  // DASHBOARD HEADER //
  .dashboard-header {
    .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-box {
        width: 18.55%;
        display: flex;
        justify-content: space-between;

        img {
          width: 40%;
          margin-left: 30%;
        }

        i {
          font-size: 1.7vw;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }

      .profile-box {
        width: 130px;
        height: 130px;
        border: solid;
        border-radius: 90px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
      }
    }
  }
}

.cloud-bg {
  padding-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
    font-size: 1.64rem;
    line-height: 1;
  }
}