/* SESSION TYPE (CANDIDATE OR COMPANY) */
header { 
  .not-logged-in-header {
    padding: 4vh 0;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 13%;
        margin: 0 5.5vw;

        &.wingle-title {
          width: 15%;
        }
      }
    }
  }
  
  .questions-header {
    display: flex;
    align-items: center;
    padding: 4vh 5.5vw;
    height: 14vh;

    .left-box {
      width: 20%;
      float: left;

      a {
        font-size: 4rem;
        color: $medium-gray;
      }
    }

    .logo-title-box {
      width: 60%;

      img {
        width: 30%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.cloud-bg {
  padding-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
    font-size: 1.64rem;
    line-height: 1;
  }
}