.question-container {
  .logo {
    h4 {
      margin-bottom: 0px;
    }
  }
  
  .buttons {
    .section {
      display: flex;
      justify-content: space-around;
      
      a {
        border-radius: 10px;
      }
    }
  }
}