.login {
  &.admin {
    background-color: #e5f5ef;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    .wrapper-form{
      border-radius: 20px;
      padding-top: 30px;
      padding-bottom: 5px;
      background-color: #51BE99;

      form{
        padding: 0 10%;

        .form-actions{
          input[type='submit']{
            background-color: #369072 !important;
          }
        }
      }
    }
  }
}
