<div class="payment-option-content">
  <h4 class="bold light-green-text">
    Tenha acesso ao perfil completo, conduza processos e muito mais!
  </h4> 
  
  <div class="payment-plan-options">
    <%= link_to "Ver Planos", "#", class: 'waves-effect waves-light btn-large' %>

    <%= link_to "Continuar com informação limitada", "#", class: 'waves-effect waves-light btn-large' %>
  </div>
</div> 