<div class="pending-payment-content">
  <h4 class="bold light-green-text">
    Seu plano Wingle está com uma pendência de pagamento, consulte seu Admin para ter acesso aos perfis completos.
  </h4>

  <p class="bold light-blue-text">
    Enquanto isso continue navegando na versão confidencial.
  </p>
</div> 