<div class="upgrade-plan-content">
  <h4 class="bold light-green-text">
    Verificamos que o plano Wingle de sua empresa está 100% utilizado, consulte o Admin para liberar seu acesso.
  </h4>

  <p class="bold light-blue-text">
    Enquanto isso continue navegando na versão confidencial.
  </p>
</div> 