<section id="notice_container" class="content">
  <div class="content-box">
    <%#= render :partial => "pending_payment" %>
    <%#= render :partial => "upgrade_plan" %>
    <%#= render :partial => "update_company_profile" %>
    <%= render :partial => "payment_option" %>
  </div>
</section>