<%= title_page 'Lista de Reivindicações Anuais' %>

<section class="fields-wrapper two-columns margin-top">
  <article>
    <p>
      <strong>Nome:</strong> <%= @annual_claim_rate_list.name %>
    </p>
  </article>
</section>