<section class="company-infos-container">
  <header>
    <h3 class="bold">Nestlé</h3>
    <i class="material-icons">edit</i>
  </header>

  <div class="company-infos-box">
    <div class="company-infos">
      <p class="bold">
        Vila Olimpia
      </p>

      <p class="bold">
        Grande
      </p>

      <p class="bold">
        Bens de Consumo
      </p>

      <p class="bold">
        Conservador
      </p>

      <p class="bold">
        Candidatos do setor
      </p>
    </div>

    <div class="company-account-status">
      <p class="bold">Conta Ativa</p>

      <div class="button-box">
        <button>Plano</button>
      </div>
    </div>
  </div>
</section>